* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    color: white;
}
:root {
    --text-color:white;
    --body-background: gray;
    --header-color:#13293d;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,75,107,0.31416316526610644) 0%);
}
header {
    height: 155px;
    padding: 20px;
    text-align: center;
    background:var(--header-color) ;  
    border-style:double;  
}

header h1 {
    display: inline;
    width: 150%;
    font-size: 500%;
    color: var(--text-color);
}

header ul {
    float: right;
    margin-top: 2%;
    margin-right: 5%;
}

header li {
    display: inline;
    text-align: left;
    color: var(--text-color);
    margin-left: 30px;
    font-size: 200%;
}
header img {
    height: 150px;
    float: left;
    margin-top: -1%;
    margin-left: 2%;
}
h2 {
    font-weight: bold;
    color: var(--text-color);
    text-decoration: underline;
}

main, article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

article p{
    padding-top: 1rem;
    text-align: center;
    justify-content: flex-end;
    font-size: larger;
}

.button {
    border: 2px solid white;
    display: flex;
}

.button h2{
    text-align: center;
    margin: 40px;
}

.button img {
    width: 500px;
    height: 600px;
    object-fit: cover;
    border: 5px solid navy;
    margin: 30px; 
}
.button .first{
    width: 100%;
}
aside{
    display: inline;
    font-size: 20px;
    text-decoration: underline;
}
aside li {
    display: inline;
    text-align: center;
    color: var(--text-color);
    padding-top: 20px;
    margin: 75px;
    font-size: 155%;
}

#myWork a{
    margin: 50px;
    font-size: 120%;
}

.first span{
    position: absolute;
    justify-content: space-evenly;
    top: 60rem;
    left: 20rem;
    color:cornflowerblue;
    border: 2px dashed navy;
    font-size: 200%;
}
.breakout span{
    position: absolute;
    justify-content: space-evenly;
    top: 60rem;
    left: 68rem;
    color:cornflowerblue;
    border: 2px dashed navy;
    font-size: 200%;
}
.college span{
    position: absolute;
    top: 57rem;
    left: 113rem;
    color:cornflowerblue;
    border: 2px dashed navy;
    font-size: 200%;
}
.refrac span{
    position: absolute;
    top: 60rem;
    left: 157rem;
    color:cornflowerblue;
    border: 2px dashed navy;
    font-size: 200%;
}
