* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    color: white;
}
:root {
    --text-color:white;
    --body-background: gray;
    --header-color:#13293d;
    --h2-text:navy;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,75,107,0.31416316526610644) 0%);
    flex-wrap: wrap;
}
header {
    padding: 20px;
    text-align: center;
    background:var(--header-color) ;  
    border-style:double;  
}

header h1 {
    display: inline;
    width: 150%;
    font-size: 500%;
    color: var(--text-color);
}

header ul {
    float: right;
    margin-top: 2%;
    margin-right: 5%;
}

header li {
    display: inline;
    text-align: left;
    color: var(--text-color);
    margin-left: 40px;
    font-size: 200%;
}
header img {
    height: 200px;
    float: left;
    margin-top: -0.5%;
    margin-left: 2%;
}
h2 {
    font-weight: bold;
    color: var(--header-color);
    text-decoration: underline;
    font-size: 200%;
}

main, article{
    text-align: center;
} 

article p{
    padding-top: 1rem;
    text-align: center;
    justify-content: flex-end;
    font-size: larger;
}

.button {
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
}

.button h2{
    text-align: center;
    margin: 40px;
}

.button img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 5px solid navy;
    margin: 30px; 
}

aside{
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
}
aside ul {
    display: inline;
    text-align: center;
}
aside li{
    color: var(--text-color);
    padding-top: 20px;
    margin: 75px;
    font-size: 155%;
}

#myWork a{
    position: relative;
    display: block;
    font-size: 120%;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first span{
    position: absolute;
    color:cornflowerblue;
    border: 2px dashed navy;
    left: 39%;
    top:50%;
    font-size: 200%; 
}

.breakout span{
    position: absolute;
    color:cornflowerblue;
    border: 2px dashed navy;
    left: 22%;
    top:50%;
    font-size: 200%; 
}
.college span{
    position: absolute;
    color:cornflowerblue;
    border: 2px dashed navy;
    left: 15%;
    top:50%;
    font-size: 200%; 
}
.refrac span{
    position: absolute;
    color:cornflowerblue;
    border: 2px dashed navy;
    left: 35%;
    top:50%;
    font-size: 200%; 
} 

.first {
    flex-basis: 100%;
}
.first img {
    width: 800px;
    height: 400px;
}

