* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    color: white;

}
body {
    flex-wrap: wrap;
    background-color: gray;
}
header {
    height: 155px;
    padding: 20px;
    text-align: center;
    background: #13293d;  
    border-style:double;  
}

header h1 {
    display: inline;
    width: 150%;
    font-size: 500%;
}

header ul {
    float: right;
    margin-top: 2%;
    margin-right: 5%;
}

header li {
    display: inline;
    text-align: left;
    margin-left: 30px;
    font-size: 200%;
}
header img {
    height: 150px;
    float: left;
    margin-top: -1%;
    margin-left: 2%;
}
h2 {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

